.container {
    width: 100%; 
    max-width: 1400px; 
    margin: 2% auto;
    font-family: Arial, sans-serif;
    box-sizing: border-box; 
}

.container td:first-child {
    border-right: 2px solid #333;
    padding-right: 15px;
}

.container td {
    padding: 0 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 50%;
    vertical-align: top;
    padding: 10px 15px; 
}

#output {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}
.field-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    display: inline-block; /* Change from block to inline-block */
    width: 100px; /* Provide a fixed width for alignment */
    margin-right: 10px;
    vertical-align: top; /* To align with input fields */
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"] {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px; /* Space between the input and its label */
}

button {
    padding: 5px 10px; /* Reduce the padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
}
